body {
  max-width: 920px;
  margin-inline: auto;
  background-color: #ffffff;
}

q {
  list-style: none;
  margin: 0;
  margin-block: 2rem;
  padding-left: 2rem;
  border-left: 8px solid #F7DF94;
  display: block;
}

.author {
  text-align: center;
  text-transform: capitalize;
}

.btn--author {
  background-color: #333333;
  padding-block: 1rem;
  padding-inline: .5rem;
  width: 100%;
  max-width: 672px;
  cursor: pointer;
  margin: auto;
  display: block;
  border: none;
  margin-block: 1rem;
  background-image: url("./assets/arrow.svg");
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 140% 50%;
  box-shadow: 1px 1px 5px #dedeed;
  border-radius: 5px;
  transition: 0.3s;
  span {
    display: block;
    text-align: start;
  }

  .author--name  {
    color: #f2f2f2
  }

  .quote--genre {
    color: #828282;
    text-transform: capitalize;
    padding-top: .2rem;
  }
}

.btn--author:hover,
.btn--author:focus {
  transform: scale(1.05);
}

.genre {
  text-transform: capitalize;
  color: #f2f2f2;
}

.random-quote {
  border-left: 8px solid #F7DF94;
  padding-left: 4rem;
  max-width: 614px;
  margin-inline: auto;
  margin-top: 6rem;
}

.refresh {
  background-image: url('./assets/refresh.svg');
  background-repeat: no-repeat;
  background-position : center right;
  padding-right: 2rem;
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.refresh:focus {
  border: 1px #cccccc solid;
  outline: none;
}

a {
  text-decoration: none;
}