body {
  max-width: 920px;
  margin-inline: auto;
}

li {
  list-style: none;
  margin: 0;
  margin-block: 2rem;
  padding-left: 2rem;
  border-left: 8px solid #F7DF94;
}

.author {
  text-align: center;
}

.btn--author {
  background-color: #333333;
  padding-block: 1rem;
  padding-inline: .5rem;
  width: 100%;
  cursor: pointer;
  span {
    display: block;
    text-align: start;
  }

  .author--name  {
    color: #f2f2f2
  }

  .quote--genre {
    color: #828282;
  }
}